body{
    margin: 0px;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{

    display: flex;
    flex-direction: column;
    
}



.header{

    display: flex;
    justify-content: space-between;
    background-color: #1d2937;
    color: white;
}
.redirecciones{
    display: flex;
    gap: 10px;
}
.first{
    background-color: #1d2937;
    color:white
}
.first-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #1d2937;
}
.first-main-1 button{
  border-radius: 12px;
}
.first-title{
    font-size: 40px;
}
.second{
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    gap: 100px;
    
}
.second-title{
    font-size: 25px;
}
.second-content{
    display: flex;
    justify-content: space-around;
     
}
.second-content-info{
    display: flex;
    gap: 50px; 
    justify-content: space-between;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.third{
    background-color: #e5e7eb ;
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.quote{
    font-size: 36px;
    font-style: italic;
}
.autor{
    align-self: flex-end;
}
.footer{
    background-color: #1d2937;
    color: white;
    text-align: center;
}
.fourth{
    background-color: white;
}
.anuncio{
    margin: 100px;
    border-radius: 2px;
    padding: 20px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
}
.anuncio-first-title{
    color:white;
    font-size: 24px;
}
.anuncio-first-bajada{
    color: gray;
    font-size: 12px;

}